@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-4xl pb-1 font-bold;
  }
  h3 {
    @apply text-lg my-2 font-medium;
  }
  .btn {
    @apply font-bold rounded align-middle text-center font-bold uppercase text-xs rounded-lg bg-gray-900 text-white;
  }
  .btn-md {
    @apply py-2 px-3;
  }
  .btn-sm {
    @apply py-0.5 px-2 font-medium;
  }
  /* Tailwind doesn't have outset/inset support */
  .pokemon-tile {
    border-style: outset;
  }
  .pokemon-tile:hover {
    border-style: inset;
  }
  /* Set Overflow to clip instead of visible, use clip-margin */
  .overflow-clip {
    overflow: clip;
    overflow-clip-margin: border-box;
  }
}
